

#banner img{
    width: 100%;
}

#banner .contenedor{
    position: absolute;
    top:20%;
    left: 10%;
    color: white;
    font-family: cursive;
    width: 50%;
}

#banner .contenedor h2{
    font-size: 29px;
}

#banner .contenedor a{
    display: block;
    width: 100px;
    margin-top: 40px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    border: solid 3px tomato;
}
#banner .contenedor a:hover{
    background: tomato;
    border: solid 3px white;
}

